<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Resilience Painting</title>

	<!-- =========================
       Meta Information
    ============================== -->
    <meta name="description" content="3DB - The 3 Dream Builders. Interior and Exterior Home Remodeling Agency. Beaverton, OR.">
    <meta name="keywords" content="home, remodeling, granite countertops, marbile countertops, cabinets, flooring, ">
    <meta name="author" content="Zahidul Hossain @choyan">

    <!-- =========================
       favicon and app touch icon
    ============================== -->
    <link rel="shortcut icon" href="./assets/favicon.ico"/>
    <link rel="apple-touch-icon" href="./assets/apple-touch-icon.png">

    <!-- =========================
       Bootstrap and animation
    ============================== -->
    <link rel="stylesheet" href="./stylesheets/bootstrap.css">
    <link rel="stylesheet" href="./stylesheets/animate.min.css">

    <!-- =========================
       Fonts, typography and icons
    ============================== -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="./stylesheets/font-awesome.css">
    <link rel="stylesheet" href="./stylesheets/typography.css">

    <!-- ***** Custom Stylesheet ***** -->
    <link rel="stylesheet" href="./stylesheets/index.css">
    <link rel="stylesheet" href="./stylesheets/estimate.css">

    <!-- ***** Responsive fixes ***** -->
    <link rel="stylesheet" href="./stylesheets/responsive.css">
</head>
<body class="bg">
	<div class="container">
		<div class="row col-md-12 top-buffer">
			<!-- *****  Contact form ***** -->
		    <form class="form" id="contact-form" action="requestEstimate" method="post">
		        <div class="modal-body">
		            <div class="form-group col-md-6">
		                <input type="text" class="form-control" id="first-name" placeholder="First name" name="first">
		            </div>
		            <div class="form-group col-md-6">
		                <input type="text" class="form-control" id="last-name" placeholder="Last name" name="last">
		            </div>
		            <div class="form-group col-md-6">
		                <input type="email" class="form-control" id="email" placeholder="Email address" name="email">
		            </div>
		            <div class="form-group col-md-6">
		                <input type="text" class="form-control" id="project-name" placeholder="Project name" name="project">
		            </div>
		            <div class="form-group col-md-12 mab-none">
		                <textarea rows="6" class="form-control" id="description" placeholder="Your project details and description ..." name="description"></textarea>
		            </div>
		            <div class="form-group col-md-12">
		                <button class="button bold-text main-bg wide top-buffer"><i class="fa fa-paper-plane"></i></button>
		            </div>
		        </div>
		    </form>
		</div>
    
	    <!-- =========================
	       Footer
	    ============================== -->
	    <footer id="footer" class="footer">
	        <div class="container padding-large text-center">
	            <div class="row">
	                <div class="col-md-6 col-md-offset-3 large-top-buffer">
	                    <figure class="margin-bottom-medium">
	                        <img src="assets/logo_big.png" class="center-block img-responsive" alt="Krefolio">
	                    </figure>
	                    <p class="copyright">
	                        The 3 Dream Builders, LLC. &copy; 2015. All Rights Reserved.
	                    </p>

	                    <!-- =========================
	                       Social icons
	                    ============================== -->
	                    <ul class="social margin-bottom-medium">
	                        <li class="facebook hvr-pulse"><a href="https://www.facebook.com/The3DreamBuilders"><i class="fa fa-facebook"></i></a></li>
	                        <li class="linkedin hvr-pulse"><a href="https://www.linkedin.com/m/profile/ACoAAAZbHKgBjwx-uBQVoeR_IhzAXcomzjRlBaU/ "><i class="fa fa-linkedin"></i></a></li>
	                        <li class="instagram hvr-pulse"><a href="https://www.instagram.com/3_dream_builders"><i class="fa fa-instagram"></i></a></li>    
	                    </ul>
	                </div>
	            </div>
	        </div>
	    </footer> <!-- *** end Footer *** -->
    </div>
</body>
</html>